version: '3.1'

services:
  mysql:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: sistema_login
    ports:
      - "3306:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
